@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
*{
  margin: 0px;
}
body{
}

nav a{
  font-family: "Pridi";
  font-weight: 350;
  font-size: 30px;
  text-decoration: none;
  padding: 5px 20px;
  height: 40px;
  color: white;
}
nav{
  z-index: 3;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 500px;
  top:39px;

}
nav a:hover{
  color: yellow;
}
nav a:active{
  color: yellow;
}

#first\ section{
z-index: 1;
  height: 690px;
  width: 100%;
  background-color: #F8B9E4;
  position: fixed;
  top: 39px;
  left: 39px;
}

.name{
  z-index: 3;
  font-family: "Spicy Rice";
  font-size: 150px;
  position: fixed;
  left: 200px;
}
#kelly{
  top: 200px;
}
#Abidoye{
  top: 380px;
}
#jobDec{
  z-index: 2;
  width: 350px;
  font-family: "Pridi";
  font-size: 40px;
  font-weight: 1000;
  position: fixed;
  top: 550px;
  color: white;
  left: 200px;
}
#contactRec{
  z-index: 2;
  position: fixed;
  top:39px;
  right: 0;
  width: 187px;
  height: 735px;
  background-color: #9AE5E0;
  border-radius: 0 0 30px 30px ; /* Top-left and top-right corners are rounded, bottom corners are flat */

}
#projectRec{
  z-index: 2;
  position: fixed;
  top:39px;
  right: 187px;
  width: 187px;
  height: 535px;
  background-color: #FFED76;
  border-radius: 0 0 30px 30px ;
}
#aboutRec{
  z-index: 2;
  position: fixed;
  top:39px;
  right: 374px;
  width: 187px;
  height: 335px;
  background-color: #E9B9F3;
  border-radius: 0 0 30px 30px ;
}
