@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
*{
  margin: 0px;
}
body{
  height: fit-content;
}

.navbuttons{
  font-family: "Pridi";
  font-weight: 350;
  font-size: 30px;
  text-decoration: none;
  padding: 5px 20px;
  height: 40px;
  color: white;
  border: none;
  background-color: transparent;
}
nav{
  z-index: 3;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  top:15px;

}
.navbuttons:hover{
  color: yellow;
}
.navbuttons:active{
  color: yellow;
}

#first\ section{
  z-index: 1;
  height: 690px;
  width: 100%;
  background-color: #F8B9E4;
  position: relative;
  top: 39px;
  left: 39px;
  border: 3px solid black;
}

.name{
  z-index: 3;
  font-family: "Spicy Rice";
  font-size: 150px;
  position: relative;
  left: 200px;
}
#kelly{
  top: 100px;
}
#Abidoye{
  top: 50px;
}
#jobDec{
  z-index: 2;
  width: 350px;
  font-family: "Pridi";
  font-size: 40px;
  font-weight: 1000;
  position: relative;
  top: 10px;
  color: white;
  left: 200px;
}
#contactRec{
  z-index: 2;
  position: relative;
  top:-537px;
  right: -1335px;
  width: 187px;
  height: 735px;
  background-color: #9AE5E0;
  border-radius: 0 0 30px 30px ; /* Top-left and top-right corners are rounded, bottom corners are flat */

}
#projectRec{
  z-index: 2;
  position: relative;
  top:-737px;
  right: -958px;
  width: 187px;
  height: 535px;
  background-color: #FFED76;
  border-radius: 0 0 30px 30px ;
}
#aboutRec{
  z-index: 2;
  position: relative;
  top:-937px;
  right: -581px;
  width: 187px;
  height: 335px;
  background-color: #E9B9F3;
  border-radius: 0 0 30px 30px ;
}
#contactRec:hover{
  background-color: #8bceca;
  cursor: pointer;
}
#projectRec:hover{
  background-color: #e6d56a;
  cursor: pointer;
}
#aboutRec:hover{
  background-color: #d2a7db ;
  cursor: pointer;
}

#second-section{
  z-index: 1;
  height: 690px;
  width: 100%;
  position: relative;
  top: 78px;
  left: 39px;
  background-color: #E9B9F3;
  border: 3px solid black;

}
.p2H{
z-index: 3;
  font-family: "Spicy Rice";
  font-size: 120px;
  position: relative;
  left: 42px;
}
#About{
  top: 10px;
}
#Me{
  top:-20px;
}
#Aboutmetext{
  position: relative;
  top: -90px;
  left: 500px;
  width: 600px;
  font-size: 25px;
  text-align: justify;
}
.fa-quote-left{
  scale: 400%;
  position: relative;
  top:-85px;
  left: 425px;
  color: white;
}
.fa-quote-right{
  scale: 400%;
  position: relative;
  left: 1150px;
  top: -90px;
  color: white;
}
.lines{
  z-index: 5;
  background-color: #ffffff;
  height: 10px;
  width: 580px;
  position: relative;
}
#line1{
  top:-100px;
  left: 500px
}
#line2{
  left: 500px;
  top:-100px
}
