@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');
*{
  margin: 0;
}

.header,.footer,.side{
  background-color: white;
}
.main{
  background-color: #FFED76;
  border-width: 3px 0px 3px 3px;
  border-style: solid;
  border-color: black;
}
.slider img{
  width: 37.5rem;
  height: 37.5rem;
  flex: 1 0 100%;
  scroll-snap-align: start;
}
.slider{
  border: 3px solid black;
  width: 37.5rem; /*600*/
  height: 37.5rem;
}
.slider-nav a{
  padding-left: 3.125rem; /*50*/
  z-index: 3;
  color: black;

}

.fa-circle{
  scale: 150%;
}
#PD{
  width: 31.25rem; /*500*/
  height: 19.688rem; /*315*/
  font-size: 1.563rem; /*25*/
  font-family: "Hind Guntur";
}

#PN1, #PN2{
  font-family: "Spicy Rice";
  font-size: 12rem; /*150*/
  color: black;
}
#back{
  font-family: "Pridi";
  font-size: 4rem; /*40px*/
  text-decoration: none;
  font-weight: bolder;
  color: white;
  width: 15.625rem;
}
.fa-chevron-left{
  font-size: 4rem; /* 40px*/
  color: white;
}
