
.navbuttons:hover{
  color: yellow;
  cursor: pointer;
}
.navbuttons:active{
  color: yellow;
  cursor: grabbing;
}
#contactRec:hover{
  background-color: #8bceca;
  cursor: pointer;
}
#projectRec:hover{
  background-color: #e6d56a;
  cursor: pointer;
}
#aboutRec:hover{
  background-color: #d2a7db ;
  cursor: pointer;
}
#contactRec:active, #projectRec:active, #aboutRec:active{
  cursor: grabbing;
}
.content a:hover, #submit:hover{
  background-color: #d7d7d7;
  cursor: pointer;
}
.content a:active, #submit:active{
  background-color: #a6a6a6;
  cursor: grabbing;
}
#chevron:hover + .content,
.content:hover {
  display: block;
}
#chevron:hover{
  color: #FFED76;
}
 .fa-chevron-left:hover, #photoright:hover{
   color: #d7d7d7;
   cursor: pointer;
 }
.fa-chevron-left:active, #photoright:active{
   color: #a6a6a6;
  cursor: grabbing;
 }

